<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>218307294673-sfvier7iltnp230t3pmj5tj2j4t5igve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218307294673-sfvier7iltnp230t3pmj5tj2j4t5igve</string>
	<key>API_KEY</key>
	<string>AIzaSyACvq_i_lnAt0XWaW_3udH8ckOisqdpLDE</string>
	<key>GCM_SENDER_ID</key>
	<string>218307294673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TheStars</string>
	<key>PROJECT_ID</key>
	<string>starglobe-fad5f</string>
	<key>STORAGE_BUCKET</key>
	<string>starglobe-fad5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:218307294673:ios:f0651f1de3bf9dc7</string>
	<key>DATABASE_URL</key>
	<string>https://starglobe-fad5f.firebaseio.com</string>
</dict>
</plist>